//Cores
$green-main: #4caf50;
$green-dark: #2e7d32;
$green-light: #d3fdbb;
$red-main: #d32f2f;
$red-dark: #b71c1c;
$blue-main: #1976d2;
$blue-dark: #1565c0;
$gray-bg: #f8faf9;
$gray-border: #ddd;
$gray-text: #555;

//Tokens
$radius: 12px;
$shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
$transition: 0.2s ease;
