<form [formGroup]="sign_up" (ngSubmit)="onSubmit()" class="signup-form">
  <section class="flex-container">
    <!-- Nome da Fazenda -->
    <div>
      <label for="nome_fazenda">Nome da Fazenda:</label>
      <input
        id="nome_fazenda"
        type="text"
        formControlName="nome_fazenda"
        placeholder="Digite o nome da fazenda"
        class="form-control"
      />
      @if (sign_up.get('nome_fazenda')?.invalid &&
      sign_up.get('nome_fazenda')?.touched) {
      <small class="error">{{ getErrorMessage("nome_fazenda") }}</small>
      }
    </div>

    <!-- Nome do Responsável -->
    <div>
      <label for="nome_usuario">Nome do Responsável:</label>
      <input
        id="nome_usuario"
        type="text"
        formControlName="nome_usuario"
        placeholder="Digite o nome do responsável"
        class="form-control"
      />
      @if (sign_up.get('nome_usuario')?.invalid &&
      sign_up.get('nome_usuario')?.touched) {
      <small class="error">{{ getErrorMessage("nome_usuario") }}</small>
      }
    </div>

    <!-- Telefone -->
    <div>
      <label for="phone">Telefone (WhatsApp):</label>
      <phone formControlName="phone"></phone>
      @if (sign_up.get('phone')?.invalid && sign_up.get('phone')?.touched) {
      <small class="error">{{ getErrorMessage("phone") }}</small>
      }
    </div>

    <!-- Senha -->
    <div>
      <label for="senha">Senha:</label>
      <input
        id="senha"
        type="password"
        placeholder="Digite a senha"
        formControlName="senha"
      />
      @if (sign_up.get('senha')?.invalid && sign_up.get('senha')?.touched) {
      <small class="error">{{ getErrorMessage("senha") }}</small>
      }
    </div>

    <!-- Confirmar Senha -->
    <div>
      <label for="confirmar_senha">Confirmar Senha:</label>
      <input
        id="confirmar_senha"
        type="password"
        placeholder="Reinsira a senha"
        formControlName="confirmar_senha"
      />
      @if (sign_up.get('confirmar_senha')?.invalid &&
      sign_up.get('confirmar_senha')?.touched) {
      <small class="error">{{ getErrorMessage("confirmar_senha") }}</small>
      }
    </div>

    <!-- Erro geral de mismatch -->
    @if (sign_up.errors?.['mismatch'] && sign_up.touched) {
    <small class="error">As senhas não coincidem.</small>
    }
  </section>

  <button type="submit" [disabled]="sign_up.invalid">Cadastrar Fazenda</button>
  <p class="link" (click)="goToSignUp()">Registrar nova sessão</p>
</form>
